/* Contenedor de la tarjeta del detalle del producto */
.item-detail-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 150px auto 20px; 
  padding: 20px;
}

/* Imagen del detalle del producto */
.item-detail-image {
  width: 300px; /* Ajusta el ancho según sea necesario */
  height: auto;
  border-radius: 8px;
  margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

/* Contenido del detalle del producto */
.item-detail-content {
  flex: 1; /* Ocupa el espacio restante */
}

.item-detail-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.item-detail-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.item-detail-price {
  font-size: 24px;
  color: #eb8a0c;
  margin-bottom: 10px;
}

.item-detail-stock {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.add-to-cart-button {
  background-color: #f5bd04;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; 
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #fd9610;
}

.back-button {
  background-color: #eb8a0c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #1a1a1a;
}

