.products-list {
  display: flex;
  flex-wrap: nowrap; /* Asegura que los productos estén en una sola fila */
  gap: 35px; /* Ajusta el espacio entre los productos */
  justify-content: center; /* Centra los productos horizontalmente */
  padding: 20px;
  overflow-x: auto; /* Permite desplazamiento horizontal si hay demasiados productos */
}

/* Define the card styling */
.product-card {
  flex: 0 0 auto; /* Impide que el contenedor crezca o se reduzca */
  width: 250px; /* Ajusta el ancho según sea necesario */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}





  
  