.card {
  background-color: white;
  border: 5px solid #fddf33; /* Borde amarillo */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 16px;
  margin: 16px;
  width: 300px;
}

.card h2 {
  margin-top: 0;
  color: black;
}

.card p {
  margin: 10px 0 0;
  color: black;
}

  
  