/* src/components/Navbar/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  width: 100%; /* Asegura que el navbar ocupe todo el ancho */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0; /* Asegura que esté en la parte superior */
  left: 0; /* Asegura que esté alineado a la izquierda */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.logo img {
  height: 50px;
}

.navbar-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.car-widget-container {
  display: flex;
  align-items: center;
  position: relative;
}

.car-icon-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.car-icon-button:hover {
  color: #eb8a0c;
}
