/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2C3232;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo a {
  height: 200px;
  text-decoration: none;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 1rem; /* Aumenta el espacio entre los elementos del menú */
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}
