/* src/components/Navbar/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.navbar-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.car-widget-container {
  display: flex;
  align-items: center;
  position: relative;
}

.car-icon-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.car-icon-button:hover {
  color: #eb8a0c;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-cart {
  animation: pop 0.3s ease-in-out;
}

